.contact-section {
  margin: auto;
  padding-top: 80px;
  padding-bottom: 150px;
  margin-top: 0;
  position: relative;
  z-index: 10; 
  

  background: linear-gradient(
    180deg,
    rgba(11, 8, 12, 0.95) 0%,
    rgba(11, 8, 12, 0.98) 100%
  );
  background-color: var(--backgroundColor);
  
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.contact-section h3 {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 60px;
  color: #fff;
  border-bottom: 1px solid #333;
  padding-bottom: 40px;
}


.contact-flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}


.contact-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

.contact-flex h4 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.contact-flex p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
}

.contact-flex p a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.contact-flex p a:hover {
  color: var(--accentColor);
}


a.contact-social {
  display: flex;     
  align-items: center; 
  gap: 8px;           
  
  font-size: 25px;
  color: #adacac;     
  text-decoration: none;
  
  width: fit-content; 
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

a.contact-social:hover {
  color: #ffffff; 
  border-bottom: 1px solid var(--accentColor); 
}

.arrow-icon {
  display: inline-flex;
  font-size: 0.9em; 
}

.contact-box h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  color: #adacac;
}

.contact-box h2 > span {
  color: var(--accentColor);
  font-weight: 500;
}

.contact-box h5 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.5;
}

@media only screen and (max-width: 1600px) {
  .contact-section h3 {
    font-size: 50px;
  }
  .contact-box h2 {
    font-size: 18px;
  }
  a.contact-social {
    font-size: 22px;
  }
  .contact-flex p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .contact-section h3 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
  a.contact-social {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .contact-flex {
    flex-direction: column;
    gap: 50px;
  }
  
  .contact-box {
    width: 100%;
    border-bottom: 1px solid #222;
    padding-bottom: 30px;
  }
  
  .contact-box:last-child {
    border-bottom: none;
  }

  .contact-section {
    margin-top: 50px;
    padding-bottom: 80px;
  }
  
  .contact-container {
    width: calc(100% - 40px);
  }
}