.masktext-container {
  display: flex;
  flex-direction: column;
}


.lineMask {
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
}

.lineMask p {
  margin: 0;
  padding: 0;
  line-height: 1.2; 
  display: block;
}