
.portfolio-section {
  width: 100%;
  height: 100vh;       
  position: relative;
  overflow: hidden;     
  background-color: #0b080c;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.portfolio-section h2 {
  font-size: 70px;
  font-weight: 500;
  margin-left: 5vw; 
  margin-bottom: 50px;
  margin-top: 0;
}

.portfolio-section h2 > span {
  color: var(--accentColor);
}


.portfolio-flex {
  display: flex;      
  flex-wrap: nowrap; 
  

  width: max-content;   
  
  height: auto;
  align-items: center; 
  
 
  padding-left: 5vw;
  padding-right: 5vw;
  

  margin-left: 0; 
  

  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}





.portfolio-box {
  width: 600px;         
  flex-shrink: 0;     
  
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  

  border-right: 1px solid #363636;

  height: 70vh; 
  justify-content: center;
}

.portfolio-flex .portfolio-box:nth-child(even) {
  flex-direction: column-reverse;
}


.portfolio-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.portfolio-title h3 {
  font-size: 50px;
  margin: 0;
  font-weight: 600;
}
.portfolio-title > div {
  text-align: right;
}
.portfolio-info h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.portfolio-info p {
  font-weight: 200;
  color: #adacac;
  margin-top: 5px;
  font-size: 14px;
}
.portfolio-image {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.portfolio-image img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}


@media only screen and (max-width: 1024px) {
  .portfolio-box {
    width: 450px;
    padding: 40px;
    height: 60vh;
  }
  .portfolio-section h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio-box {
    width: 85vw; 
    padding: 30px;
  }
  .portfolio-image img {
    max-height: 200px;
  }
  .portfolio-title h3 {
    font-size: 35px;
  }
}